<!DOCTYPE html>
<title>404</title>
{% extends "e_shop/base.html" %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width"/>
</head>
<body>
<div class="p-1 m-2">
    <div class="col-lg-8 mt-2 mb-4 mx-auto pt-4">
        <div class="card mb-3">
            <h2 class="card-header">The page you requested is not available. (404)</h2>
            <p class="card-body">Please contact our support.</p>
        </div>
    </div>
</div>
</body>
{% endblock content %}
</html>