<title>Password Reset| EBM - Company</title>
{% extends 'e_shop/base.html' %}
{% load bootstrap4 %}

{% block content %}

<div class="container">
<h5 class="pb-2 mb-2 border-bottom">Password Reset</h5>
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{message.tags}}" role="alert">
    {{ message }}
</div>
{% endfor %}
{% endif %}
<p>
   Password successfully set <a class="btn btn-sm btn-primary"  href="{% url 'users:login' %}">Login</a>
  </p>
</div>
{% endblock content %}

